.Home-image{
    width: 90%;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .column {
    width: 90%;
  }
  
  .column img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .content {
    text-align: center;
  }

  #home-metrics{
    float: right;
    color: rgb(166, 6, 6);
  }
  .home-opener{
    font-size: 20px;
  }